
:root
{
    --indigo-dye: #134074ff;
    --prussian-blue: #13315cff;
    --oxford-blue: #0b2545ff;
    --pewter-blue: #8da9c4ff;
    --mint-cream: #eef4edff;
}

body
{
    color: white;
    font-size: 20px;
    font-family: Arial;
    background-color: #060e1b;
}

#sopa 
{
    margin: auto;
}

#contenedor 
{
    margin: auto;
    width: 620px;
    height: 620px; /*Wid y hei para el ancho y alto de la sopa de letras */
    padding: 0.01px;
    border-radius: 10px;
    overflow: hidden; /* regular la visibilidad de los contenidos que sobresalen de una caja html */
}

.caja 
{
    margin: 3px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    box-shadow: 0 0 5px white;
    border-radius: 5px;
    float: left;
}

.caja:hover 
{
    color: blue;
}

.block 
{
    text-align: center;
    background-color: #777da7;
    border-radius: 20px;
}

.global 
{
    columns: 2;
}

.lista 
{
    text-align: left;
    display: inline-block;
}

.letra 
{
    text-decoration: none;
    color: white;
}

a:hover 
{
    color: blue;
}

.titulo 
{
    font-family: "Akaya Telivigala", cursive;
    font-size: 20px;
    text-align: center;
}

.titulo1 
{
    font-family: "Akaya Telivigala", cursive;
    font-size: 15px;
    text-align: center;
}

.texto
{
    background-color: #777da7;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: justify;
}

.Css 
{
    background-color: #d85158;
}

.codigo 
{
    background-color: #aaabbc;
}

.class 
{
    background-color: #aaabbc;
}

.color 
{
    background-color: #d85158;
}

.float
{
    background-color: #e2d4ba;
}

.width 
{
    background-color: #af7a6d;
}

.div 
{
    background-color: #d664be;
}

.padding 
{
    background-color: #5b8c5a;
}

.etiquetas 
{
    background-color: #cfd186;
}

.footer 
{
    background-color: #d85158;
}

.paginaweb 
{
    background-color: #d664be;
}

.margin 
{
    background-color: #df99f0;
}

.micrositios 
{
    background-color: #99e1d9;
}

.background 
{
    background-color: #777da7;
}

.html 
{
    background-color: #c6ecae;
}

.fontfamily 
{
    background-color: #78fecf;
}

.borderradius 
{
    background-color: #bf4e30;
}

.css 
{
    background-color: #c6ccb2;
}

.ul 
{
    background-color: #c89b7b;
}

.height 
{
    background-color: #f0f757;
}
